version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=execution_db
      - POSTGRES_USER=user_exec
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  execution-api:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data: